<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="showmembers.Properties.Settings.DbConnection" connectionString="Data Source=DESKTOP-8PQNO87;Initial Catalog=SedapMakanDatabase;Integrated Security=True;" />
    </connectionStrings>
</configuration>